.ansible
.ansible-lint
.coderabbit.yaml
.devcontainer
.git
.github
.markdownlint.yaml
.pre-commit-config.yaml
.vscode
.yamllint
AGENTS.md
Dockerfile
Dockerfile.j2
LICENSE
Pipfile
Pipfile.lock
README.md
collections
docs
molecule
requirements-local.yml
requirements-local.yml.j2
tests
*.patch
