.ansible
ansible-role-*
ca-certificates/
collections/
*.bak
*.diff
.cache
*.html
*.log
*.org
*.orig
*.patch
*.png
__pycache__
requirements-local.yml
*.swp
*.verb
/.github/agents/
/.github/instructions/
/.github/skills/
