; Config file for Ansible.
; @docs: https://docs.ansible.com/ansible/latest/reference_appendices/config.html
[defaults]
inject_facts_as_vars = False
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
# Enable profile_tasks callback for task timestamps and timing information.
callbacks_enabled = ansible.posix.profile_tasks
# Leave the 'cows' alone!
nocows = 1
# Suppress deprecation warnings from Ansible modules
deprecation_warnings = False

[diff]
# Always print diff when running (same as always running with -D/--diff).
always = True
