<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">
<fontconfig>
  <dir prefix="default">{{ fontconfig_path }}/share/fonts</dir>
  <dir prefix="default">/usr/share/fonts</dir>
  <dir prefix="default">/usr/local/share/fonts</dir>
  <dir prefix="default">{{ ansible_facts.env.HOME }}/.fonts</dir>
  <dir prefix="default">{{ ansible_facts.env.HOME }}/.local/share/fonts</dir>
  <cachedir prefix="default">{{ ansible_facts.env.HOME }}/.cache/fontconfig</cachedir>
  <include ignore_missing="yes">{{ fontconfig_path }}/etc/fonts/fonts.conf</include>
  <config>
    <rescan><int>30</int></rescan>
  </config>
</fontconfig>
