<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">
<fontconfig>
  {% if wine_fontconfig_path %}
  <dir prefix="default">{{ wine_fontconfig_path }}/share/fonts</dir>
  {% endif %}
  <dir prefix="default">{{ wine_fontconfig_system_fonts_dir }}</dir>
  {% for item in wine_fontconfig_fonts_dirs %}
  <dir>~/{{ item }}</dir>
  {% endfor %}
  {% if wine_fontconfig_path %}
  <include ignore_missing="yes">{{ wine_fontconfig_path }}/etc/fonts/fonts.conf</include>
  {% endif %}
  {% if wine_fontconfig_system_config_file %}
  <include ignore_missing="yes">{{ wine_fontconfig_system_config_file }}</include>
  {% endif %}

  <config>
    <rescan><int>30</int></rescan>
  </config>
</fontconfig>
