export FONTCONFIG_FILE="{{ ansible_facts.get('user_dir', lookup('ansible.builtin.env', 'HOME')) }}/{{ wine_fontconfig_config_file }}"
export FONTCONFIG_PATH="{{ ansible_facts.get('user_dir', lookup('ansible.builtin.env', 'HOME')) }}/{{ wine_fontconfig_config_dir }}:{{ wine_fontconfig_path | default('') }}{{ wine_fontconfig_system_config_path }}"
