export FONTCONFIG_FILE="$HOME/{{ wine_fontconfig_config_file }}"
export FONTCONFIG_PATH="$HOME/{{ wine_fontconfig_config_dir }}:{{ wine_fontconfig_path | default('') }}{{ wine_fontconfig_system_config_path }}"
